/*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: #ffffff;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: inherit;
}

.background-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('imgs/background.jpg');
    background-position: top center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto;
    background-color: rgb(1, 2, 4);
}

.screen-container {
    width: 90vw;
    min-height: 98vh;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.nav ul li {
    padding: 15px;
}

.link-logo {
    display: flex;
    align-items: center;
}

.link-active {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: underline;
}

.logo {
    width: 50px;
}

.img-small {
    width: 40px;
}

.hove-click {
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hove-click:hover {
    background-color: #2c3e50;   
}

.hove-click:active {
    transform: scale(0.9);
    background-color: #1b2631;
}

.clipped-background {
    position: absolute;
    top: 57%;
    left: 49.99%;
    width: 85%;
    height: 85%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #2c3e50;
    z-index: 1;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 87.5%;
    position: relative;
    z-index: 10;
}

.page-container {
    position: relative;
    z-index: 2;
}

.slide-out-up {
    animation: slideOutUp 0.4s ease forwards;
}

@keyframes slideOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.slide-in-up {
    animation: slideInUp 0.4s ease forwards;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Home Page*/

.home-page-container {
    margin: 10px;
    padding: 250px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 712px;
    margin-top: 50px;
}

.home-img-container {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#home-text {
    text-align: center;
    margin: 0px 10px 200px 10px;
}

.home-img {
    max-width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home-img:hover {
    animation: bounce 0.6s ease infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*Project Page*/
.projects-container {
    text-align: center;
    max-width: 860px;
    margin-top: 50px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.language-button {
   min-width: 76px;
   background-color: gray;
   color: white; 
}

.language-button:active {
    background-color: #2c3e50;
}

.active {
    background-color: #2c3e50;
}

.language-button:hover {
    cursor: pointer;
}

#projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

.project-card {
    background: rgba(44, 62, 80, 1);
    padding: 10px;
    margin: 0px 20px 0px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.3);
}

.project-card:last-child {
    padding-bottom: 45px;
}

.project-card h3 {
    text-transform: uppercase;
    font-weight: 900;
}

.project-text {
    text-align: justify;
}

.github-link {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
}

.github-link:hover {
    text-decoration: underline;
}

/*Certifications Page*/
.certification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.certification-list {
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2c3e50;
    border-radius: 10px;
    padding-bottom: 67px;
}

.certification-item {
    background: rgba(240, 240, 240, 0.05);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.certification-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.certification-button:hover {
    background-color: #2980b9;
}

.certification-status {
    color: #aaa;
    font-style: italic;
    margin-left: 10px;
}

/*About Page*/
.about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #2c3e50;
    padding: 10px 30px 50px 30px;
    margin-top: 50px;
    border-radius: 10px;
    max-width: 980px;
}

.about-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.about-text h3 {
    text-transform: uppercase;
    font-weight: 900;
}

.about-row.reverse {
    flex-direction: row-reverse;
}

.about-text {
    flex: 1;
    text-align: justify;
}

.about-img {
    flex: 1;
    max-width: 400px;
    width: 100%;
    height: 320px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    /* margin-bottom: 40px; */
}
/*Contacts Page*/
.contacts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 60px 15px;
    background-color: #2c3e50;
    border-radius: 10px;
    margin-top: 15%;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-list h2, .email-container h2 {
    text-transform: uppercase;
    font-weight: 900;
}

.contact-list ul {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list a {
    color: #1abc9c;
    text-decoration: underline;
}

.email-container {
    flex: 1 1 45%;
    border-radius: 12px;
    padding: 0px 10px 10px 10px;
}

.email-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-container input,
.email-container textarea {
    padding: 8px;
    border-radius: 8px;
    border: none;
    resize: none;
}

.email-container button {
    padding: 8px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-container button:hover {
    background-color: #2980b9;
}

/*Responsiviness*/
@media (max-width: 832px) {
    body {
        height: auto;
    }

    .background-container {
        width: 100%;
        height: 100%;
    }

    .screen-container {
        width: 100%;
        height: 100%;
    }
    .navbar-container {
        flex-direction: column;
    }

    .logo {
        width: 40px;
    }

    .img-small {
        width: 30px;
    }

    .clipped-background {
        top: 60%;
        height: 75%;
    }

    .content-container {
        min-height: 0px;
    }

    .home-page-container {
        padding: 200px 100px 50px 100px;
    }

    .about-row {
        flex-direction: column;
    }
    .about-row.reverse {
        flex-direction: column;
    }
    .about-text h3 {
        text-align: center;
    }
}

@media (max-width: 706px) {
    #home-title {
        text-align: center;
    }

    #home-text {
        margin: 0px 10px 130px 10px;
    }

    .project-text {
        font-size: 14px;
    }
}

@media (max-width: 630px) {
    #home-text {
        margin: 0px 10px 180px 10px;
    }
}

@media (max-width: 630px) {
    #home-text {
        margin: 0px 10px 100px 10px;
    }
}

@media (max-width: 582px) {
    .certification-item {
        font-size: 11px;
    }
}

@media (max-width: 548px) {
    .navbar-container {
        font-size: 12px;
    }

    .nav ul li {
        padding: 12px;
    }

    .project-text {
        font-size: 12px;
    }
}

@media (max-width: 504px) {
    #home-text {
        margin: 0px 10px 40px 10px;
    }
    .contact-list {
        margin-right: 0;
    }
}

@media (max-width: 485px) {
    .logo {
        width: 30px;
    }

    .img-small {
        width: 20px;
    }
}

@media (max-width: 461px) {
    .buttons-container {
        gap: 10px;
    }
    
    .language-button {
       max-width: 76px;
       min-width: 0;
       background-color: gray;
       color: white; 
    }

    .project-card h3 {
        font-size: 16px;
    }
}

@media (max-width: 457px) {
    .contacts-content {
        justify-content: center;
    }

    .contact-list {
        text-align: center;
    }
}

@media (max-width: 453px) {
    #home-title {
        font-size: 20px;
    }
    
    #home-text {
        margin: 0px 10px 110px 10px;
        font-size: 12px;
    }

    .about-section {
        padding: 10px 10px 50px 10px;
    }

    .about-text p {
        font-size: 12px;
    }
}

@media (max-width: 426px) {
    .nav ul li {
        padding: 8px;
    }
}

@media (max-width: 410px) {
    .nav ul {
        gap: 1px;
    }
    .home-page-container {
        padding: 250px 70px 50px 70px;
    }
}

@media (max-width: 392px) {
    .email-container h2 {
        text-align: center;
    }
}

@media (max-width: 370px) {
    .navbar-container {
        font-size: 10px;
    }
    .logo {
        width: 25px;
    }

    .img-small {
        width: 17px;
    }

    .project-text {
        font-size: 10px;
    }

    .about-section {
        padding: 10px 5px 50px 5px;
    }
}

@media (max-width: 342px) {
    #home-text {
        margin: 0px 10px 40px 10px;
    }
}

@media (max-width: 323px) {
    #home-text {
        margin: 0px 10px 10px 10px;
    }

    .home-page-container {
        padding: 200px 70px 50px 70px;
    }

    .nav ul li {
        padding: 5px;
    }

    .about-text p {
        font-size: 10px;
    }
}

@media (max-width: 298px) {
    #home-text {
        font-size: 10px;
    }

    #home-title {
        font-size: 17px;
    }
}