<div class="page-container contacts-container">
    <div class="contacts-content">
        <div class="contact-list">
            <h2>Meus Contatos</h2>
            <ul>
                <li><strong>Email:</strong> <a href="mailto:pedro4costa@outlook.com">pedro4costa@outlook.com</a></li>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/pedro-conceicao1/" target="_blank">/pedro-conceicao1</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/dev-pedr0" target="_blank">/dev-pedr0</a></li>
            </ul>
        </div>
        <div class="email-container">
            <h2>Me mande uma mensagem</h2>
            <form onsubmit="handleSubmit(event)">
                <input type="text" id="name" placeholder="Seu nome" required />
                <input type="email" id="email" placeholder="Seu email" required />
                <textarea id="message" placeholder="Sua mensagem" rows="5" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <div class="home-img-container">
        <img class="home-img" src="../imgs/down-arrow.svg" alt="Ir para Home" onclick="location.hash = '#home'">
    </div>
</div>