<div class="home-page-container page-container">
    <h2 id="home-title">Da Ideia Criativa para o Código Eficiente</h2>
    <p id="home-text">
        Meu trabalho é transformar conceitos em interfaces 
        funcionais e impactantes.  Desenvolvo páginas e aplicativos 
        com foco na experiência do usuário, e performance eficiente. 
    </p>
    <div class="home-img-container">
        <img class="home-img" src="../imgs/down-arrow.svg" alt="Ir para Projetos" onclick="location.hash = '#projetos'">
    </div>
</div>
