<div class="page-container projects-container">
    <div>
        <div class="buttons-container">
            <button class="language-button" data-tag="c#" onclick="setActive(this)">
                C#
            </button>
            <button class="language-button" data-tag="java" onclick="setActive(this)">
                Java
            </button>
            <button class="language-button" data-tag="javascript" onclick="setActive(this)">
                Javascript
            </button>
            <button class="language-button" data-tag="react" onclick="setActive(this)">
                React
            </button>
            <button class="language-button active" data-tag="all" onclick="setActive(this)">
                Todas
            </button>
        </div>
        <div id="projects-list">

        </div>
    </div>
    <div class="home-img-container">
        <img class="home-img" src="../imgs/down-arrow.svg" alt="Ir para Certificação" onclick="location.hash = '#certificacao'">
    </div>
</div>
