<div class="page-container about-container">
    <div class="about-section">
        <div class="about-row">
            <div class="about-text">
                <h3>Quem sou eu?</h3>
                <p>Eu sou um ser curioso que ama descobrir como as coisas funcionam. E um dos elementos que mais me fascinavam era o computador. Como cargas elétricas viram zeros e uns que viram imagens, sons, e fazem meu personagem morrer 20 vezes para o mesmo inimigo? Eu demorei para explorar a fundo os mistérios da programação, passando primeiro pelo universo da engenharia, mas sinto ter encontrado meu lugar. Quanto mais eu pratico mais sinto que sou capaz de criar e produzir aquilo que minha criança tinha o sonho de fazer: sites de diversos temas, programas, jogos.... Tudo está a alguns cliques de distância... E uma quantidade considerável de pesquisa no google do porque a margem não funciona.</p>
            </div>
            <img class="about-img" src="../imgs/cute-kid-with-tablet-dark.jpg" alt="Minha imagem">
        </div>
        <div class="about-row reverse">
            <div class="about-text">
                <h3>Criação e Desenvolvimento</h3>
                <p>Venho explorando diversas linguagens e áreas de atuação, mas tenho uma proximidade e afinidade muito grande com tudo front-end. Design e desenvolvimento de sites, páginas, interfaces, telas são meu foco. Busco produzir designs responsivos, intuitivos, simples e harmoniosos garantindo a coesão do todo o projeto. Nesse processo de criação realizo muitas buscas por referencias, e escuto os feedbacks dos clientes e usuários. As vezes mais tempo é levado nesta etapa do que nos momentos de produção de código. Infelizmente não sou um bom artista manual mais acredito que cheguei o mais próximo de entender como um pintor se sente ao terminar uma obra quando finalizo um projeto.</p>
            </div>
            <img class="about-img" src="../imgs/plano-de-fundo-de-programacao-com-pessoa-trabalhando-com-codigos-no-computador_23-2150010125.png" alt="Projeto ou conceito">
        </div>
        <div class="about-row">
            <div class="about-text">
                <h3>Conhecimento e Diversificação</h3>
                <p>‘Eu não tenho medo do homem que praticou 10.000 chutes diferentes, mas sim do homem que praticou o mesmo chute 10.000 vezes.’. Apesar de entender o  valor da mensagem que o grande lutador Bruce Lee passou o mundo da programação pede diversificação. Talvez não 10.000 linguagens, mas mais de 1 com certeza. Por isso não me limito ao front-end e venho desenvolvendo minhas habilidades em back-end: no processamento de informações recebidos de usuários e no gerenciamento e armazenamento de dados. Também não é possível ignorar a presença da inteligência artificial e seu estudo vai se tornar cada vez mais relevante. Por fim, preciso completar a trindade (ou tri-force, para minha comunidade gamer) e explorar o caminho da programação mobile.</p>
            </div>
            <img class="about-img" src="../imgs/green-quarterback-sunset-relaxation-nature.jpg" alt="Aprendizado">
        </div>
    </div>
    <div class="home-img-container">
        <img class="home-img" src="../imgs/down-arrow.svg" alt="Ir para Contato" onclick="location.hash = '#contato'">
    </div>
</div>